* {
    margin:0;
    padding: 0;

}




@-webkit-keyframes colourful{
    0%  { background:-webkit-linear-gradient(80deg,#7d5dc6,#b06bc0,#e76b80,#e76b80,#bca3eb,#7fd989 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;}
    25%  { background:-webkit-linear-gradient(80deg,#7d5dc6,#b06bc0,#e76b80,#e76b80,#bca3eb,#7fd989 101%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;}
    50%  { background:-webkit-linear-gradient(80deg,#7d5dc6,#b06bc0,#e76b80,#e76b80,#bca3eb,#7fd989 400%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;}
    75% { background:-webkit-linear-gradient(80deg,#7d5dc6,#b06bc0,#e76b80,#e76b80,#bca3eb,#7fd989 600%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;}

    100% { background:-webkit-linear-gradient(80deg,#7d5dc6,#b06bc0,#e76b80,#e76b80,#bca3eb,#7fd989 800%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;}
}

@keyframes colourful{
    0%  { background:-webkit-linear-gradient(80deg,#7d5dc6,#b06bc0,#e76b80,#e76b80,#bca3eb,#7fd989 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;}
    25%  { background:-webkit-linear-gradient(80deg,#7d5dc6,#b06bc0,#e76b80,#e76b80,#bca3eb,#7fd989 200%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;}
    50%  { background:-webkit-linear-gradient(80deg,#7d5dc6,#b06bc0,#e76b80,#e76b80,#bca3eb,#7fd989 400%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;}
    75% { background:-webkit-linear-gradient(80deg,#7d5dc6,#b06bc0,#e76b80,#e76b80,#bca3eb,#7fd989 600%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;}

    100% { background:-webkit-linear-gradient(80deg,#7d5dc6,#b06bc0,#e76b80,#e76b80,#bca3eb,#7fd989 800%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;}
}







h1{
    color:#e76b80
}


@supports (-webkit-background-clip:text){
h1 {
    font-family:'Milliard' , sans-serif;
    max-width: 100vw;
    background:-webkit-linear-gradient(80deg,#7d5dc6,#b06bc0,#e76b80,#e76b80,#bca3eb,#7fd989 110%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

    background-clip: text;
    background-size: 400% 400%;
    animation-iteration-count: infinite;
    -webkit-transition: colourful 1000ms ease-in-out;
    
    transition: colourful 1000ms ease-in-out;
  }
}

.resize{
    font-size: 12px;
    font-size: 6vmax;
    
    width:60%;
    display:inline-block;
  
} 



.text{
  display:inline-block;
  width:100%;
  height:min-content;
}
.bottom {
    font-size: 4vw;
}



.errorlist{
    font-size:9px;
    
    align-items: left;
    
    
}

#id_address


::marker{
    
    
    
    font-size:  0px;
}

.input{
    font-size: 4px;
}

.input#id_address{
    font-size: 6px;
}







#id_address{
    margin:auto;
    position:relative;
    width:220px;
    font-size: 12px;

}


@media screen and (mid-width: 736px)
{
  .p{ font-size: 1px;
  }
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    ". title title ."
    ". title title ."
    ". container container container container container ."
    ".   .";
    grid-gap: 10px;
    grid-column: 1/-1;
}
}

.title {
    grid-area:title;
    
    font-size: 32px;
    align-self: center;
    align-content: center;
    text-align: center;
    
}

.header {
    grid-area:header;
}

.sidebar {
    grid-area:sidebar;
}

.content {
    grid-area:content;
 
}

.footer {
    grid-area:footer;
}

.container-fluid{
    grid-area:container;
    align-self: center;
    align-content: center;
    height: 240px;
    max-width: 700px;
}



.container-history{
    grid-area: container-history;
    border: 1px solid;
    max-height: 200px;
}

.hist {
    grid-area: hist;
    border: 1px ridge black;
    font-size: 13px;
    background-color:darkgrey ;
    align-self:left;
}

