* {
    margin:0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}





:root {
    --bg-img: linear-gradient(to right,#f1d6ff 0%,#d5e4ff 100%);
    --primary-color: #000000;
    --secondary-color: #48494b;
    --font-color: #0e0d0d;
    --bg-color: #fff;
    --heading-color: #292922;
    --dark-color:var(--primary-color);
    --light-color:var(--secondary-color);
    --grad1 : linear-gradient(45deg,#7d5dc6,#b06bc0,#e76b80,#ca8887,#bca3eb,#7fd989 90%);
    --footergrad1:linear-gradient(to top,#fff 0%,rgba(255,255,255,0) 100%);


}




[data-theme="dark"]{
    --bg-img:linear-gradient(to right,#3b4260 0%,#401d3b 100%);
    --primary-color: #ffffff;
    --secondary-color: #818cab;
    --font-color: #ffffff;
    --bg-color: #161625;
    --heading-color: #818cab;
    --dark-color:var(--primary-color);
    --light-color:var(--secondary-color);
    --grad1 : linear-gradient(45deg,#7d5dc6,#b06bc0,#e76b80,#ca8887,#bca3eb,#7fd989 90%);
    --footergrad1:linear-gradient(to top,#070a0e 0%,rgba(7,10,14,0.45) 43.35%,rgba(7,10,14,0.1) 77.34%,rgba(7,10,14,0) 100%);


}

body {
    
    background-image: var(--bg-img);


}



@-webkit-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@keyframes Animation { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}



.p{
  color:var(--font-color)
}


#text{
  font: size 12px;
  color:var(--font-color);
}

.button-cp{

  display: inline-block;
outline: 0;
border: 0;
cursor: pointer;
font-weight: 600;
color: var(--font-color);
font-size: 12px;
height: 32px;

border-radius: 50px;
background-color: rgba(46, 3, 75, 0.5);
box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
transition: all .2s ease-out;

}


.button-cp:hover{
    box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
}










button {
    

    border: none;
    color: var(--font-color);
    opacity: 0.75;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  
button:hover {
  box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
  }





h1.contact{
    float:left;
    
}




.lightmode{
    transform: translateX(30%);
}

label[for='id_address'] { font-size: 0; }
label[for='id_address']:before { content: "Address: "; font-size: 14px; color: var(--font-color) }




h1{
    color:var(--font-color)
}


@supports (-webkit-background-clip:text){
h1 {
    font:'milliardbold';
    max-width: 100vw;
    background: var(--grad1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font: 36px;

    color: transparent;
    font-weight: 700;

    background-clip: text;
    background-size: 400% 400%;
    
    animation: Animation 25s ease infinite;
    animation-iteration-count: infinite;
    -webkit-animation: Animation 30s ease infinite;
    -moz-animation: Animation 30s ease infinite;
   
    
    
  }



h2 {
    font-family:'Milliard' , sans-serif;
    max-width: 100vw;
    color: var(--font-color);
    color: transparent;

    background-clip: text;
    background-size: 400% 400%;
    animation-iteration-count: infinite;
    -webkit-transition: colourful 1s ease-in-out;
    
    transition: colourful 1000ms ease-in-out;
}









  }  














.resize{
    font-size: 12px;
    font-size: 6vmax;
    
    width:60%;
    display:inline-block;
  
} 



.text{
  display:inline-block;
  width:100%;
  height:min-content;
}
.bottom {
    font-size: 4vw;
}



.errorlist{
    font-size:9px;
    
    align-items: left;
    
    
}



::marker{
    
    
    
    font-size:  0px;
}

.input{
    font-size: 4px;
}

.input#id_address{
    font-size: 6px;
}



.device_theme{
    align-items: right;
    transform: translateX(-1vw);
    
    
}





.theme-switch-wrapper {
    float: right;
   
    display: flex;
    align-items: center;
  

}
.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: rgb(255, 255, 255);
    bottom: 0;
    cursor: pointer;
    left: 3px;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: rgb(0, 0, 0);
    bottom: 2.5px;
    content: "";
    height: 19px;
    width: 19px;
    left: -1.5px;
    
    position: absolute;
    -webkit-transition: .4s;
    transition: .4s;
    
  }
  
  input:checked + .slider {
    background-color: #1718172f;
    margin: 3px 3px 3px 4px; 
    border: 1px;
   
  }
  




  input:checked + .slider:before {
    transform: translateX(26px);
    margin: 3px 3px 3px 4px; 
    background-color: rgb(255, 255, 255);
    
  }
  
  .slider.round {
    margin: 3px 3px 3px 4px;  
    border-radius: 50px;
    
  }
  
  .slider.round:before {
    margin: 3px 3px 3px 4px;  
    border-radius: 50px;
    opacity: 0.75;
    
    
  }

  .lightmode{
    transform: translateX(7%);
    

}







  svg {
    cursor: pointer;

  }

  #darkGroup {
    fill: var(--dark-color);
  }
  #lightGroup {
    fill: var(--light-color);
  }
  #dark1,
  #light1,
  #dark2 {
    transition: all 1s ease;
  }
  #dark2 {
    transform: translateX(-120%);
  }
  svg:hover #light1 {
    transform: translateX(30%);
    opacity:0.8;
  }
  svg:hover #dark1 {
    transform: translateX(60%);
    opacity:0.45;
    
  }
  svg:hover #dark2 {
    transform: translateX(30%);
    opacity:0.97;
    
  }
  svg:hover #dark3 {
    transform: translateX(80%);
    opacity: 0.1;
  }



#sun{
   transform: translate(-2px,-2px);
   
   
   bottom:10px;

}

#moon{
    color :red;
    transform: translate(2px,0px);
}



.time{
  color:var(--font-color);
}













#id_address{
    margin:auto;
    position:relative;
    width:220px;
    font-size: 12px;

}




.title {
    grid-area:title;
    
    font-size: 32px;
    align-self: center;
    align-content: center;
    text-align: center;
    
}

.header {
    grid-area:header;
}

.sidebar {
    grid-area:sidebar;
}

.content {
    grid-area:content;
 
}

.footer {
    grid-area:footer;
}

.container-fluid{
    grid-area:container;
    align-self: center;
    align-content: center;
    height: 240px;
    max-width: 700px;
}



.container-history{
    grid-area: container-history;
    border: 1px solid;
    max-height: 200px;
}

.hist {
    grid-area: hist;
    border: 1px ridge black;
    font-size: 13px;
    background-color:darkgrey ;
    align-self:left;
}

