<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Custom JS-->
   



    {% load static %}

    <script src={% static 'main.js' %} defer></script>
    <link rel='stylesheet' type='text/css' href='{% static 'style.css' %} '>
    <title>{% block head_title %}{% endblock %}</title>
  </head>
  <body>





    {% include 'navbar.html' %} 
    <div class = 'grid'>
      <div class='title'>{% block page_title %}{% endblock %}</div>
      
      <div class='header'>{% block page_header %}{% endblock %}</div>
      <div class='sidebar'>{% block page_sidebar %}{% endblock %}</div>
      <div class='content'>
        {% block page_content %}{% endblock %}

      </div>
        
      <div class='footer'>{% block page_footer %}{% endblock %}</div>

      

                  {% block content %}
                  
                  {% endblock %}

      
      
      
      
      {% include 'js.html' %}

    </div>   
    

  </body>
</html>