<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" >

    <style>


    
    </style>





    <!-- Custom JS-->
   









    

    <script src={% static 'main.js' %} defer></script>

    <title>{% block head_title %}{% endblock %}</title>
  </head>
  <body>





    {% include 'navbar.html' %} 
    <div class = 'grid'>
      <div class='device_theme'>
        <div class="theme-switch-wrapper">
          <label class="theme-switch" for="checkbox">
              <input type="checkbox" id="checkbox" />
              <div class="slider round"></div>
        </label>
        
      
      <script>
        const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');
        
        
        
               
        
        function switchTheme(e) {
            if (e.target.checked) {
                document.documentElement.setAttribute('data-theme', 'dark');
                localStorage.setItem('theme', 'dark'); //add this
            }
            else {
                document.documentElement.setAttribute('data-theme', 'light');
                localStorage.setItem('theme', 'light'); //add this
            }    
        }
        
        
        
        
        
        const currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;
        
        if (currentTheme) {
            document.documentElement.setAttribute('data-theme', currentTheme);
        
            if (currentTheme === 'dark') {
                toggleSwitch.checked = true;
            }
        }
        
        toggleSwitch.addEventListener('change', switchTheme, false);
        
      </script>   
        
        
        
        
        
        
        {% block device_theme %} {% endblock %}</div>
      <div class='title'>{% block page_title %}{% endblock %}</div>
      
      <div class='header'>{% block page_header %}{% endblock %}</div>
      <div class='sidebar'>{% block page_sidebar %}{% endblock %}</div>
      <div class='content'>{% block page_content %}{% endblock %}</div>
        
      <div class='footer'>{% block page_footer %}{% endblock %}</div>

      

                  {% block content %}
                  
                  {% endblock %}

      
      
      
      
      {% include 'js.html' %}

    </div>   
    

  </body>
</html>
  